@using OdeToFood.Models
@model Restaurant

<h1>Create</h1>

<form method="post">

	<!--El tag helper asp-for rellena automaticamente el html del 
		input y del select con los datos del modelo actual-->
	<div>
		<label asp-for="Name"></label>
		<input asp-for="Name" />
		<span asp-validation-for="Name"></span>
	</div>

	<label asp-for="Cuisine"></label>
	<select asp-for="Cuisine" asp-items="@Html.GetEnumSelectList<CuisineType>()"></select>
	<span asp-validation-for="Cuisine"></span>

	<input type="submit" name="save" value="Save" />


</form>
<div></div>