@model OdeToFood.ViewModels.HomeIndexViewModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
</head>
<body>
	<h1>@Model.CurentMessage</h1>
	<table>
		@foreach (var restaurant in Model.Restaurants)
		{
			<tr>
				<td>@restaurant.Id</td>
				<td>@restaurant.Name</td>
				<td>

					<!--<a href="/home/details/@restaurant.Id">Details</a>-->
					<!--Lo de arriba funciona pero lo de abajo es mas robusto y adaptable
						a los cambios en el programa, pero necesita de _ViewImports para
						funcionar.-->
					<a asp-action="Details" asp-route-id="@restaurant.Id">More</a>
				</td>
			</tr>
		}

	</table>

	<a asp-action="Create">Add Restaurant</a>
</body>
</html>