@model OdeToFood.Models.Restaurant

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
</head>
<body>
	<h1>@Model.Name</h1>
	<div>The ID value is... <h1>@Model.Id!!!!</h1></div>
</body>
</html>